body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    color: #333;
}

header {
    background-color: #4b6584;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem; /* Ukuran lebih besar untuk teks MBTI */
    font-weight: bold; /* Teks lebih tebal */
    color: #f4f4f9;
}

main {
    padding: 2rem;
}

.personality-types {
    max-width: 800px;
    margin: 0 auto;
}

.personality-types h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #4b6584;
    font-size: 2rem; 
    font-weight: bold; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item img {
    width: 100%;
    height: auto; 
}

.grid-item span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #4b6584; 
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f9;
    margin-top: 20px;
}

footer a {
    display: inline-block;
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

footer a:hover {
    background-color: #eb3b3b; 
}

footer p {
    color: #4b6584;
}
